.image {
  display: none;
}


@media (min-width: 550px) {
  .image__container div{
    width: 100%;
    position: unset !important;
  }
  
  .image {
  display: block;
  object-fit: contain;
  width: 70% !important;
  position: relative !important;
  height: unset !important;
  }
}

