.about {
  padding: 1rem;
  line-height: 1.8;
}

@media screen and (min-width: 768px) {
  .container {
    height: 40vh;
  }
  .about {
    padding: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    height: 65vh;
  }
  .about {
    padding: 2rem 12rem 2rem 12rem;
  }
}
/* Fix the screen width */
@media screen and (min-width: 1325px) {
  .container {
    height: 45vh;
  }
}
