.container {
  background-color: var(--fourth-color);
}

.paragraph {
  line-height: 1.6;
  text-align: left;
}

.form_input {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

  .form_message {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form_submit {
    background-color: var(--fourth-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: 14px 20px;
    margin-bottom: 2rem;
    width: 100%;
    border: 5px solid var(--primary_color);
    border-radius: 8px;
    cursor: pointer;
  }

@media (min-width: 550px) {

  .form {
    width: 60%;
  }
  
  .form_input {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

    .form_message {
      height: 100px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .form_submit {
      background-color: var(--fourth-color);
      color: var(--primary-color);
      font-weight: bold;
      padding: 14px 20px;
      margin: 8px 0;
      border: 2px solid var(--primary-color);
      border-radius: 8px;
      cursor: pointer;
    }

    .form_submit:hover {
      background-color: var(--primary-color);
      color: var(--fourth-color);
    }

    .message_sent {
      background-color: white;
      color: var(--primary_color);
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border-radius: 4px;
      box-sizing: border-box;
    }
}