/* Breakpoint	Class infix	Dimensions
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px */

:root {
  --primary-color: #272829;
  --secondary-color: #61677A;
  --third-color: #D8D9DA;
  --fourth-color: #FFF6E0;
}

/* :root {
  --primary-color: #183A1D;
  --secondary-color: #F0A04B;
  --third-color: #E1EEDD;
  --fourth-color: #FEFBE9;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a:link { 
  text-decoration: none; 
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.logo {
  text-decoration: none;
  font-size: 50px;
  font-weight: 600;
  color: var(--primary-color);
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -288px;
  min-height: calc(100vh - 60px);
  background-color: var(--third-color);
  transition: all 0.3s;
  z-index: 10;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2ms;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
}

.nav__link.active {
  font-weight: bold;
}

.nav__link:hover {
  font-weight: bold;
  color: var(--primary-color);
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav__link::before {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -16px;
  left: 0;
  height: 6px;
  transition: all 0.2s;
  background-color: black;
}

.nav__link:hover::before {
  width: 100%
} */

@media screen and (min-width: 768px){
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    min-height: fit-content;
    width: fit-content;
    flex-direction: row;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 3px;
    transition: all 0.2s;
    background-color: var(--primary-color);
  }
  
  .nav__link:hover::before, 
  .nav__link.active::before  {
    width: 100%
  }
}