.container {
  background-color: var(--fourth-color);
  text-align: center;
}

.image__container div{
  width: 100%;
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 80% !important;
  position: relative !important;
  height: unset !important;
  margin-bottom: 20px;
}

.list_group {
  margin-left: 4.5rem;
}

.list_item {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 8px 6px -6px black;
  text-align: center;
  font-size: large;
  font-weight: 550;
}

@media screen and (min-width: 768px) {
  .container {
    text-align: left;
  }

  .image {
    width: 65% !important; 
  }

  .list_group {
    margin-left: 6rem;
  }
}